accelerate==1.7.0
catboost==1.2.8
Django==5.2.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
gensim==4.3.3
joblib==1.5.1
numpy==1.26.4
scikit-learn==1.6.1
sentence-transformers==5.0.0
torch==2.7.1
attrs==25.3.0
python-dotenv==1.1.0